<!DOCTYPE html>
<html>
<head>
<title>Email Scheduler - Login</title>
</head>
<body>
<h1>Login or Signup</h1>
<p>Please enter your username and password to login, or create a new account.</p>
<form action="/login" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" placeholder="Enter your username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter your password"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>