<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Access to speech recognition is required for voice input.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to the microphone is required for voice input.</string>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
